body{
    color: rgb(0, 0, 0);
    background-color: rgb(202, 224, 202);
    font-family: "Monospace", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;    
    border-radius: 25px;
    margin:10px;
    padding-top:10px;
    padding-bottom: 5px;
    background-color: rgb(158, 216, 161);
}

.logo{
    padding-left:50px;
}

header a{
    text-decoration: none;
    color: black;
}

head a:visited{
    text-decoration: none;
    color: black;
}

.header-links{
    padding-right: 30px;
    display:flex;
    align-items: center;
    gap:40px;
}

.content-wrapper{
    padding-top:70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.technical-info{
    display:flex;
    gap:4px;
    align-items: flex-start;
    flex-direction: column;
    padding:15px;
    background-color: rgb(104, 216, 132);
    border-radius: 25px;
    width: 55%;
    max-width:100%;
}

.top-line{
    display:flex;
    justify-content: space-between;
    gap:30px;
}

.hero{
    display:flex;
    gap:4px;
    align-items: start;
    flex-direction: column;
    padding-left: 25px;
    padding-top:15px;
    padding-bottom: 15px;
    background-color: rgb(142, 211, 159);
    border-radius: 25px;
    margin-bottom: 20px;
    width:55%;
    max-width: 100%;
}

.hero img{
    padding-left:25px;
    padding-top:17px;
}

.sidebar-left{
    position: fixed;
    top:700px;
    left:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 65px;
    z-index: 1000;
}

.sidebar-left a{
    display: inline-block;
    margin: 5px;
}

.sidebar-left img{
    height: auto;
    width: 50px;
}

h1{
    font-size: 50px;
}

.technical-info h1{
    align-self:flex-start;
    padding-left: 20px;
}

.skills{
    max-width:100%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 70px;
    padding-left:25px;

}

.skills h3{
    text-decoration: underline;
}

.skills div{
    flex:1;
    flex-direction: column;
}

.cont-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.project-section{
    display:flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(142, 211, 159);
    border-radius: 25px;
    width:85%;
    max-width: 100%;
    padding:10px;

}

.project-section h1{
    justify-content: center;
    padding-left: 20px;
}

.projects-box{
    display:flex;
    background-color:rgb(202, 224, 202);
    width: 450px;
    height: 450px;
    border-radius: 25px;
    justify-content: center;
    padding:20px;
    margin: 20px;
    
}

.phonetic-alph-project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phonetic-alph-project p{
    max-width: 400px;
}

.link-box{
    color: black;
    text-decoration: none;
    width:200px;
}
.link-box:visited{
    color:black;
    text-decoration: none;
}
.video{
    display:flex;
    justify-content: center;
    padding-top:50px;
}

.info-wrapper{
    border-radius:25px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 211, 159);
    max-width: 100%;
    width:80%;
    padding-top:30px;
    padding-bottom:30px;
    
}

.information{
    display:flex;
    flex-direction: column;
    max-width: 80%;
}

.test{
    display: flex;
    justify-content: center;
}